{% extends "base.html" %}

{% block content %}

  <div class="page-wrap d-flex flex-row align-items-center mt-5">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12 text-center mt-4">
                  <span class="display-1 d-block" style="">429x</span>
                  <p>Sorry, something went wrong! :(</p>
                  <p class="text-muted">There are too many requests being sent.</p>
                  <div><a href="{{ url_for('home') }}" class="btn btn-primary w-25">Back to Home</a></div>
              </div>
          </div>
      </div>
  </div>
  
{% endblock %}
