{% extends "base.html" %}
{% block title %}SellerSeal - {{ product.get_product_name() }}{% endblock %}

{% block content %}
  {% autoescape false %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4">
      <div class="card" style="border-radius: 15px;">

        <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light d-flex justify-content-center" data-mdb-ripple-color="light">
          <img src="static/productImages/{{ product.get_productID() }}.png" style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"/>
        </div>

        <div class="card-img-overlay text-light align-items-center">
          <h1><a href="{{ request.referrer }}"><i class="pt-3 pb-2 pe-3 fas fa-chevron-circle-left"></i></a></h1>
        </div>

        <div class="card-body pb-0">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-dark fw-bold">{{ product.get_product_name() }}</p>
            </div>
            <div>
              <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                <p class="small text-muted">S$ {{ product.get_price() }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body pb-0">
          <div class="aligm-items-center">
            <p class="text-muted">Description</p>
            <p>{{ product.get_description() }}</p>
          </div>
        </div>
      {% if product.get_quantity() == 0 %}
        <hr class="my-0" />
        <div class="card-body pb-0">
          <div class="aligm-items-center">
            <p class="text-muted">Product currently unavailable </p>
          </div>
        </div>      
      {% else %}
        <hr class="my-0" />
        <div class="card-body pb-0">
          <div class="aligm-items-center">
            <p class="text-muted">Quantity: </p>
            <p>{{ product.get_quantity() }}</p>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <div class="d-flex justify-content-end align-items-center pb-2 mb-1">
            <form method="POST" action="/addToCart">
              <div class="input-group col-md-4">
                <input type="hidden" id="businessID" name="businessID" value="{{  businessID }}">
                <input type="hidden" id="productID" name="productID" value="{{ product.get_productID() }}">
                  <button class="btn btn-primary" type="submit" value="submit">Add to Cart</button>
              </div>
            </form>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
  {% endautoescape %}
{% endblock %}

