{% extends "base.html" %}
{% block title %}SellerSeal - Orders{% endblock %}
{% set active_page = "orders" %}

{% block content %}
  {% autoescape false %}
  <h1 class="pt-3 pb-2"><a href="{{ url_for('orders') }}"><i class="pt-3 pb-2 pe-3 fas fa-angle-left" style="color: #22A7F2;"></i></a>Order Details</h1>
  <p class="text-muted">Order ID: #{{ order.get_orderID() }}</p>
  {% if orderDetails.get_orderStatus() == 'Cancelled' %}
  <p class="text-danger">This order has been cancelled.</p>
  {% endif %}

  <div class="list-group list-group-flush">

    <!--Timeline -->
    <div class="container list-group-item mt-4 mb-4">
      {% if orderDetails.get_orderStatus() == 'Processing' %}
      <ul class="list-group list-group-horizontal list-group-flush align-items-center justify-content-between mx-2 p-2">
        <li class="list-group-item rounded-circle border-3 border-primary bg-primary p-3"></li>
        <hr class="text-muted" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-muted p-3"></li>
        <hr class="text-muted" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-muted p-3"></li>
      </ul>
      {% elif orderDetails.get_orderStatus() == 'Shipping' %}
      <ul class="list-group list-group-horizontal list-group-flush align-items-center justify-content-between mx-2 p-2">
        <li class="list-group-item rounded-circle border-3 border-primary bg-primary p-3"></li>
        <hr class="text-primary" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-primary bg-primary p-3"></li>
        <hr class="text-muted" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-muted p-3"></li>
      </ul>
      {% elif orderDetails.get_orderStatus() == 'Delivered' %}
      <ul class="list-group list-group-horizontal list-group-flush align-items-center justify-content-between mx-2 p-2">
        <li class="list-group-item rounded-circle border-3 border-primary bg-primary p-3"></li>
        <hr class="text-primary" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-primary bg-primary p-3"></li>
        <hr class="text-primary" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-primary bg-primary p-3"></li>
      </ul>
      {% elif orderDetails.get_orderStatus() == 'Cancelled' %}
      <ul class="list-group list-group-horizontal list-group-flush align-items-center justify-content-between mx-2 p-2">
        <li class="list-group-item rounded-circle border-3 border-muted p-3"></li>
        <hr class="text-muted" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-muted p-3"></li>
        <hr class="text-muted" style="height:6px; width:45%;">
        <li class="list-group-item rounded-circle border-3 border-muted p-3"></li>
      </ul>
      {% endif %}
      <div class="d-flex justify-content-between">
        <p class="fw-bold">Processing</p>
        <p class="fw-bold">Shipping</p>
        <p class="fw-bold">Delivered</p>
      </div>
    </div>
  

    <!--User Info -->
    <div class="container list-group-item card align-items-center pb-3">
      <div class="card-body bg-light rounded">
        <p>{{ user.get_name() }}</p>
        <p>+65 1234 5678</p>
        <div>
          {% if orderDetails.get_shippingAddress() %}
          <p>{{ orderDetails.get_shippingAddress().get_line1() }}</p>
          <p>{{ orderDetails.get_shippingAddress().get_line2() }}</p>
          <p>{{ orderDetails.get_shippingAddress().get_city() }}</p>
          <p>{{ orderDetails.get_shippingAddress().get_zipCode() }}</p>
          {% else %}
          <p>No address assigned. Please set one in profile!</p>
          {% endif %}
        </div>
      </div>
    </div>


    <!--Ordered Items -->
    <div class="container list-group-item">
      <div class="d-grid gap-3 my-3 overflow-auto">
        <!--Items begin here -->
        {% for index, product in enumerate(products) %}
            <div class="align-items-center d-flex justify-content-between border border-3 rounded-2 p-3">
                {% if product != None %}
                <!--Left -->
                <div class="d-flex align-items-center">
                  <div>
                      <img src="static/productImages/{{ product.get_productID() }}.png" class="img-thumbnail" style="object-fit:cover;height: 84px; width: 84px;">
                  </div>
                  
                <div class="px-3">
                    <p class="mb-2 mt-0">{{ product.get_product_name() }}</p>
                </div>
                </div>
                <!--Right -->
                <div class="p-2 text-nowrap"> 
                  <p class="fw-bold fs-4">{{ "$%.2f"|format(float(product.get_price())) }}</p>
                </div>
                {% else %}
                <div class="px-3">
                    <p class="mb-2 mt-0">Product has been deleted.</p>
                </div>
                {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>

    
    <!--Additional Info -->
    <div class="container list-group-item d-flex justify-content-between my-4">
      <!--Left -->
      <div class="px-4">
        <p>Points Earned</p>
        <p>Points Redeemed</p>
        <p>Total Cost</p>
      </div>
      <!--Right -->
      <div class="px-5 text-end">
        <p class="fw-bold">{{ order.get_pointsEarned() }}</p>
        <p class="fw-bold">{{ order.get_pointsRedeemed() }}</p>
        <p class="fw-bold">{{ "$%.2f"|format(order.get_totalPrice()) }}</p>
      </div>
    </div>

    <div class="container list-group-item d-flex justify-content-between">
      <!--Left -->
      <div class="px-4">
        <p>Discounted Cost</p>
        <p>Shipping Costs</p>
        <p class="fs-4">Subtotal</p>
      </div>
      <!--Right -->
      <div class="px-5 text-end">
        <p class="fw-bold text-success">{{ "$%.2f"|format(order.get_discountPrice()) }}</p>
        <p class="fw-bold">{{ "+ $%.2f"|format(orderDetails.get_shippingCost()) }}</p>
        <p class="fw-bold fs-4">{{ "$%.2f"|format(orderDetails.get_subTotal()) }}</p>
      </div>
    </div>

    <div class="container list-group-item d-flex justify-content-between my-4">
      <!--Left -->
      <div class="px-4">
        <p>Order Date</p>
        <p>Delivery Date</p>
      </div>
      <!--Right -->
      <div class="px-5 text-end">
        <p class="fw-bold">{{ orderDetails.get_orderDate() }}</p>
        {% if orderDetails.get_deliveryDate() %}
        <p class="fw-bold">{{ orderDetails.get_deliveryDate() }}</p>
        {% else %}
        <p class="fw-bold">No delivery date set</p>
        {% endif %}
      </div>
    </div>

    <div class="mx-2 my-4">
      <button class="btn btn-danger {% if orderDetails.get_orderStatus() == 'Cancelled'%}disabled{% endif %}" type="button" data-bs-toggle="modal" data-bs-target="#cancelOrderModal">Cancel Order</button>
    </div>
  </div> <!--End of details-->
  
<!-- Cancelling Order Modal for Confirmation -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cancelOrderModal">Cancel Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              <p class="fw-bold"><i class="fas fa-exclamation-triangle"></i> Are you sure?</p>
              This will cancel the order and you won't be able to view its order information anymore.
            </div>
            <div class="modal-footer d-block">
                <a href="{{ url_for('cancelOrder', orderID=order.get_orderID(), status='userCancel') }}" class="btn btn-danger float-end">Cancel Order</a>
            </div>
          </div>
      </div>
  </div>
</div>
  {% endautoescape %}  
{% endblock %}
